div {
  height: 100px;
  width: 100px;
  background-color: greenyellow;
  transition: transform 2s;
  text-align: center;
  box-shadow: 2px 2px 5px grey;
}

div:hover {
  transform: rotate(45deg) scaleY(1.5) translate(50px) skew(20deg);
}
